$fontcolor:rgb(143, 142, 142);

.header {
  height: 120px;
  width: 100vw;
  @include sideOut;
  @include sp {
    height: 80px;
  };

  &Left {
    width: 300px;
    text-align: center;
    font-size: 35px;
    color: $fontcolor;
    position: relative;
    @include sp{
      width: 100px;
      font-size: 15px;
    }
    .fa-bars {
      line-height: 120px;
      cursor: pointer;
      @include sp{
        line-height: 80px;
      }
    }
    .fa-bars:hover {
      color: black;
    }
    &List {
      display: none;
      width: 200px;
      line-height: 40px;
      position: absolute;
      top: 90px;
      left: 130px;
      background-color: white;
      padding: 10px;
      border-radius: 20px;
      z-index: 5;
      @include sp{
        line-height: 25px;
        width: 120px;
        top: 60px;
        left: 30px;
      }
      &Btn {
        display: block;
        color: $fontcolor;
        font-size: 20px;
        border-bottom: 1px solid;
        @include sp {
          font-size: 12px;
        }
      }
      &Btn:hover {
        color: black;
      }
      &RandomBtn{
        cursor: pointer;
        font-size: 20px;
        border-bottom: 1px solid;
        position: relative;
        @include sp {
          font-size: 12px;
        }
        .headerLeftListBtnRandom {
          width: 200px;
          display: none;
          position: absolute;
          top: 0;
          left: 190px;
          font-size: 20px;
          background-color: white;
          padding: 10px;
          border-radius: 20px;     
          @include sp{
            width: 150px;
            font-size: 15px;
            left: 110px;
            line-height: 25px;
          }        
          &Choice{
            display: block;
            border-bottom: 1px solid;
          }
          &Choice:hover{
            color: black;
          }
        }
      }
    }
  }
  &Center {
    color: $fontcolor;
    height: 120px;
    width: 400px;
    line-height: 120px;
    @include sp {
      width: 150px;
      height: 80px;
      line-height: 80px;
    };
    &Image {
      width: 400px;
      height: 120px;
      line-height: 100px;
      @include sp {
        width: 170px;
        height: 60px;
      };
    }
  }
  &Right {
    width: 300px;
    text-align: center;
    color: $fontcolor;
    position: relative;
    z-index: 5;
    @include sp{
      width: 100px;
      font-size: 15px;
    }
    .iconImageSmall {
      position: absolute;
      top: 35px;
      left: 125px;
      @include sp {
        top: 20px;
        left: 40px;
      }
    }
    .iconImageSmall:hover {
      opacity: 0.6;
    }
    .fa-user-circle{
      font-size: 40px;
      color: $fontcolor;
      line-height: 120px;
      @include sp {
        font-size: 15px;
        line-height: 80px;
      };
    }
    .fa-user-circle:hover{
      color: black;
    }    
    &List {
      display: none;
      font-size: 20px;
      width: 200px;
      line-height: 40px;
      position: absolute;
      top: 90px;
      right: 130px;
      background-color: white;
      padding: 15px;
      border-radius: 20px;
      @include sp{
        line-height: 25px;
        width: 120px;
        top: 60px;
        right: 30px;
      }
      &Btn {
        display: block;
        border-bottom: 1px solid;
        color: $fontcolor;
        @include sp {
          font-size: 12px;
        }
      }
      &Btn:hover {
        color: black;
      }
    }
  } 
}
.footer {
  background-color: rgb(236, 236, 236);
  width: 100vw;
  padding: 5%;
  text-align: center;
  border-top: 1px solid $fontcolor;
  &Box {
    background-color: white;
    padding: 40px;
    width: 80%;
    margin: 0 auto;
    color: $fontcolor;
    font-size: 15px;
    @include sp {
      font-size: 3px;
    };
    &Image {
      height: 200px;
      width: 200px;
      border-radius: 200px;
      margin: 2% 0;
      @include sp {
        height: 100px;
        width: 100px;
      };
    }
    &Profile {
      line-height: 1;
    }
  }
}

.headerLeftListRandomBtn:hover{
  color: black;
}

// モーダルウィンドウ
#overlay1,
#overlay2,
#overlay3,
#overlay4 {
  //モーダルウィンドウの背景を設定
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  //透過度をつける
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
  }
  
  #modalWindow {
  // モーダルウィンドウの画面を設定
    box-sizing: border-box;
    width: 600px;
    height: 600px;
    position: absolute;
  //トップからの場所を指定
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 2;
  //flexboxで子要素のボタンとメッセージボックスの要素を配置する
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include sp {
      width: 300px;
      height: 300px;
    };  
    .indexRandomItem {
      @include indexBoxItem;
      font-size: 30px;
      color: $fontcolor;
      &Image {
        @include indexBoxItemImage;
        width: 100%;
        // height: 100%;
        margin-bottom: 0;
      }
    }    
  
    #modalCloseBtn {
      width: 50%;
      height: 60px;
    }
  
    #randomReturnBtn1,
    #randomReturnBtn2,
    #randomReturnBtn3,
    #randomReturnBtn4{
      width: 70%;
      height: 60px;
      margin: 0 auto;
    }
  }
  
  #itemRandomBtn {
  //削除ボタンの非表示
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
