.allitem {
  @include mainContent;
  &Content {
    @include centerContent;
    &Title {
      @include title;
    }
    &Image {
      padding: 5px;
      width: 100%;
      text-align: left;
      &Src {
        height: 263px;
        width: 263px;
        margin-bottom: 2px;
        object-fit:cover;
        @include sp {
          height: 90px;
          width: 86px;
        };
      }
    }
  }
}