.itemEdit {
  @include mainContent;
  &Box {
    @include centerContent;
    &Title {
      @include title;
    }
  }
}
.newImageTitle {
  font-size: 20px;
  color: $fontcolor;
  text-align: left;
  width: 70%;
  margin: 0 auto;
}
#image-box {
  padding-top: 2%;
  width: 70%;
  margin: 0 auto;
  text-align: left;

  .newImageBox {
    width: 100%;
    text-align: left;
    margin-top: 5%;
    &Group {
      display: flex;
      margin-bottom: 5%;
      &Form {
        text-align: left, bottom;
        color: $fontcolor;
      }
      &Remove {
        text-align: left, bottom;
        color: $fontcolor;
      }
    }
  }
  #imagePre {
    object-fit: cover;
    .smallImage {
      text-align: left;
      height: 184px;
      width: 184px;
      object-fit: cover;
    }
  }
}
.CategoryBoxField{
  color: $fontcolor;
  .listing-select-wrapper__box--select {
    color: $fontcolor;
    height: 50px;
    width: 70%;
    font-size: 15px;
    margin-top: 10px;    
  }

}

#child_category, #grandchild_category {
  color: $fontcolor;
  height: 50px;
  width: 70%;
  font-size: 15px;
  margin-top: 10px;    
}

.newItemSubmit {
margin-top: 5%;
background-color: rgb(145, 237, 240);
width: 70%;
padding: 15px;
color: $fontcolor;
font-size: 15px;
}