.indexContent {
  height: calc(100vh - 120px);
  box-sizing: border-box;
  padding: 20px 40px;
  @include sp {
    height: 50vh; 
    padding: 5px 40px;     
  };

  &Image {
    background-image: image-url("IMG_2843.jpeg");
    background-size: cover;
    background-position: bottom;
    height: 95%;
    position: relative;
    box-shadow: 0 0 8px rgb(82, 82, 82);
    &Text {
      height: 60px;
      position: absolute;
      bottom: 30px;
      left: 30px;
      @include sp {
        height: 23px;
        top: 40px;
        left: 10px;
      }
    }
  }
  .fa-angle-double-down {
    position: absolute;
    left: 50vw;
    font-size: 40px;
    color: rgb(143, 142, 142);
    @include sp {
      display: none;
    }
  }
  .fa-angle-double-down:hover {
    color: black;
  }
}
// ---------ここまでがワンブロック目------------
@mixin indexBox {
  height: 60vh;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  @include sp {
    height: 40vh;      
  };
}
@mixin indexBoxTitle{
  @include sideOut;
  box-sizing: border-box;
  padding: 0 40px;
  height: 10%;
  width: 100%;
  line-height: 1.5;
  font-size: 30px;
  @include sp {
    font-size: 20px;
    padding: 0;      
  };
}
@mixin indexBoxTitleText {
  text-decoration: none;
  color: $fontcolor;
}
@mixin indexBoxTitleBtn {
  color: $fontcolor;
}
@mixin indexBoxItem {
  box-sizing: border-box;
  height: 80%;
  width: 100%;
  padding: 20px;
  overflow-x: auto;
  white-space: nowrap;
  @include sp {
    padding: 0;      
  };
}
@mixin indexBoxItemImage {
  display: inline;
  height: 300px;
  width: 300px;
  object-fit: cover;
  @include sp {
    margin-top: 5px;
    height: 170px;
    width: 170px;     
  };
}

.indexNew {
  @include indexBox;
  &Title {
    @include indexBoxTitle;
    &Text {
      @include indexBoxTitleText;
    }
    &Btn {
      @include indexBoxTitleBtn;
    }
  }
  &Item {
    @include indexBoxItem;
    &Image {
      @include indexBoxItemImage;
    }
    &Image:hover{
      @include indexBoxItemImage;
      opacity: 0.6;
    }
  }
}
.indexUser {
  @include indexBox;
  &Title {
    @include indexBoxTitle;
    &Text {
      @include indexBoxTitleText;
    }
    &Btn {
      @include indexBoxTitleBtn;
    }
  }
  &Item {
    @include indexBoxItem;
    &Image {
      @include indexBoxItemImage;
    }
    &Image:hover{
      @include indexBoxItemImage;
      opacity: 0.6;
    }
  }
}
