.indexContent {
  height: calc(100vh - 120px);
  box-sizing: border-box;
  padding: 20px 40px;

  &Image {
    background-image: image-url("IMG_2843.jpeg");
    background-size: cover;
    background-position: bottom;
    height: 95%;
  }
}
// ---------ここまでがワンブロック目------------
@mixin indexBox {
  height: 60vh;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}
@mixin indexBoxTitle{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 40px;
  height: 10%;
  width: 100%;
  line-height: 1.5;
}
@mixin indexBoxTitleText {
  font-size: 30px;
  color: $fontcolor;
}
@mixin indexBoxTitleBtn {
  font-size: 30px;
  color: $fontcolor;
}
@mixin indexBoxItem {
  box-sizing: border-box;
  height: 80%;
  width: 100%;
  padding: 20px;
  overflow-x: auto;
  white-space: nowrap;
}
@mixin indexBoxItemImage {
  display: inline;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.indexNew {
  @include indexBox;
  &Title {
    @include indexBoxTitle;
    &Text {
      @include indexBoxTitleText;
    }
    &Btn {
      @include indexBoxTitleBtn;
    }
  }
  &Item {
    @include indexBoxItem;
    &Image {
      @include indexBoxItemImage;
    }
  }
}
.indexUser {
  @include indexBox;
  &Title {
    @include indexBoxTitle;
    &Text {
      @include indexBoxTitleText;
    }
    &Btn {
      @include indexBoxTitleBtn;
    }
  }
  &Item {
    @include indexBoxItem;
    &Image {
      @include indexBoxItemImage;
    }
  }
}
