.itemNew{
  @include mainContent;
  padding-bottom: 10%;
  &Box  {
    @include centerContent;
    &Title {
      @include title;
    }
    &FieldCheck {
      display: flex;
      &Box {
        padding: 100;
      }
    }
    &Field {
      @include formField;
      margin-bottom: 5%;
      &Calum {
        font-size: 20px;
        color: $fontcolor;
        text-align: left;
        @include sp {
          font-size: 7px;
        };
      }
      &Form {
        @include form;
        margin-top: 2%;
      }
      &Area {
        @include form 
      }
    }
    .newImageTitle {
      font-size: 20px;
      color: $fontcolor;
      text-align: left;
      width: 70%;
      margin: 0 auto;
      @include sp {
        font-size: 7px;  
      };
    }
    #image-box {
      padding-top: 5%;
      width: 70%;
      margin: 0 auto;
      text-align: left;
      @include sp {
        width: 100%;  
      };
      .newImageBox {
        width: 100%;
        text-align: center;
        margin-top: 5%;
        @include sp {
          text-align: left; 
        };
        &Group {
          display: flex;
          margin-bottom: 5%;
          &Form {
            text-align: left, bottom;
            color: $fontcolor;
            background-color: rgba(71, 255, 240, 0.568);
            font-size: 15px;
            padding: 5px;
            box-shadow: 2px 2px;
          }
          &Form:hover {
            color: black;
          }
          &FormNone {
            text-align: left, bottom;
            color: $fontcolor;
            display: none;
          }
          &Remove {
            text-align: left, bottom;
            color: $fontcolor;
            margin-left: 5px;
            font-size: 15px;
            padding: 5px;
            box-shadow: 2px 2px;
          }
          &Remove:hover {
            color: black;
          }
        }
      }
      #imagePre {
        object-fit: cover;
        .smallImage {
          text-align: left;
          height: 184px;
          width: 184px;
          object-fit: cover;
          @include sp {
            height: 10px;
            width: 30px;
          };
        }
      }
    .CategoryBoxField{
      color: $fontcolor;
      .listing-select-wrapper__box--select {
        color: $fontcolor;
        height: 50px;
        width: 70%;
        font-size: 15px;
        margin-top: 10px;
        @include sp {
          font-size: 10px;
        };    
      }
    
    }
  }
}
.newItemSubmit {
  margin-top: 5%;
  background-color: rgb(145, 237, 240);
  width: 70%;
  padding: 15px;
  color: $fontcolor;
  font-size: 15px;
  @include sp {
    font-size: 7px;      
  };
}


input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  margin-top: 5%;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-right: 5px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: $fontcolor;
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  @include sp {
    font-size: 7px;
  };
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #5bebf5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
  @include sp {
    height: 10px; 
    width: 10px;     
  };
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.listing-default--require {
  color: $fontcolor;
  @include sp {
    font-size: 7px;      
  };
}

}