.itemNew{
  @include mainContent;
  padding-bottom: 10%;
  &Box  {
    @include centerContent;
    &Title {
      @include title;
    }
    &Field {
      @include formField;
      &Calum {
        font-size: 20px;
        color: $fontcolor;
        position: absolute;
        left: 0;
      }
      &Form {
        @include form;
        margin-top: 5%;
      }
    }
    .newImageTitle {
      font-size: 20px;
      color: $fontcolor;
      text-align: left;
      width: 70%;
      margin: 0 auto;
    }
    #image-box {
      padding-top: 5%;
      width: 70%;
      margin: 0 auto;
      text-align: left;
      .newImageBox {
        width: 100%;
        text-align: left;
        margin-top: 5%;
        &Group {
          display: flex;
          margin-bottom: 5%;
          &Form {
            text-align: left, bottom;
            color: $fontcolor;
          }
          &Remove {
            text-align: left, bottom;
            color: $fontcolor;
          }
        }
      }
      #imagePre {
        .smallImage {
          text-align: left;
        }
      }
    }
    .CategoryBoxField{
      color: $fontcolor;
      .listing-select-wrapper__box--select {
        color: $fontcolor;
        height: 50px;
        width: 70%;
        font-size: 15px;
        margin-top: 10px;    
      }
    
    }
  }
}
.newItemSubmit {
  margin-top: 5%;
  background-color: rgb(145, 237, 240);
  width: 70%;
  padding: 15px;
  color: $fontcolor;
  font-size: 15px;
}