.itemShow{
  @include mainContent;
  &Box{
    @include centerContent;
    &User {
      text-align: right;
      color: $fontcolor;
      &Name {
        display: inline-block;
      }
      &Name:hover {
        opacity: 0.6;
      }
      .fa-user-circle {
        font-size: 50px;
        margin-top: 5px;
        color: $fontcolor;
      }
      .fa-user-circle:hover {
        color: black;
      }
    }
    &Title{
      @include title;
      margin-bottom: 0;
    }
    &Image {
      text-align: center;
      width: 620px;
      box-sizing: border-box;
      overflow-x: auto;
      white-space: nowrap;
      margin: 0 auto;
      margin-top: 2%;
      @include sp {
        width: 260px;  
        padding: 0;
      };
      .fa-arrow-circle-right {
        position: absolute;
        right: 25%;
        top: 75%;
        font-size: 30px;
        color: $fontcolor;
        @include sp {
          display: none;
        }
      }
      &Src {
        height: 600px;
        width: 600px;
        object-fit: contain;
        @include sp {
          height: 250px;
          width: 250px;
        };
      }
    }
    &Category {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 5%;
      border-bottom: 1px solid black;

      &Title {
        @include title;
      }
      &Name {
        color: $fontcolor;
        margin: 2% 0;
        font-size: 20px;
        @include sp {
          font-size: 10px;
        };
      }
    }

  }
}