.allitem
  .allitemContent
    .allitemContentTitle
      全てのアイテム
    .allitemContentImage
      -@allItem.each do |item|
        =link_to item_path(item.id) do
          =image_tag item.images.first.src.thumb300.url, class:"allitemContentImageSrc"
