= form_with(url: search_items_path, local: true, method: :get, class: "search") do |form|
  .searchBox
    .searchBoxTitle
      Item Search
    = form.text_field :keyword, placeholder: "アイテムを検索する", class: "searchBoxInput"
    = form.submit "検索", class: "searchBoxBtn"
    .allitemContentImage
      - @items.each do |item|
        =link_to item_path(item.id) do
          =image_tag item.images.first.src.url, class:"allitemContentImageSrc"