.login {
  @include mainContent;
  &Box {
    @include centerContent;
    &Title {
      font-size: 25px;
      color: $fontcolor;
      margin: 5% 0;
      @include sp {
        font-size: 20px;    
      };
    }
    &Chart {
      &Field {
        @include formField;
        text-align: left;
        &Calum {
          font-size: 20px;
          color: $fontcolor;
          @include sp {
            font-size: 10px;
          };
        }
        &Form {
          @include form;
        }
        .checkbox {
          padding: 15px;
        }
      }
    }
  }
}
