.myPage {
  @include mainContent;
  &Box {
    @include centerContent;
    &Title {
      @include title;
    }
    &Status {
      &Name {
        font-size: 20px;
        color: $fontcolor;
        margin-bottom: 3%;
        @include sp {
          font-size: 15px;  
        };
      }
      &Image {
        &Src {
          border-radius: 50%;
          height: 400px;
          width: 400px;
          margin-bottom: 4%;
          object-fit: cover;
          box-shadow: 0 0 8px rgb(87, 87, 87);
          @include sp {
            height: 200px;
            width: 200px;
          };
        }
      }
      &Item {
        width: 100%;
        &Title {
          @include sideOut;
          background-color: white;
          border-top: 1px solid $fontcolor;
          font-size: 30px;
          color: $fontcolor;
          box-sizing: border-box;
          padding: 0 40px;
          height: 10%;
          width: 100%;
          line-height: 1.9;
          @include sp {
            font-size: 15px;
          };
        }
        &Chart {
          box-sizing: border-box;
          padding: 5px;
          height: 90%;
          width: 100%;
          overflow: scroll;
          text-align: left;
          &Image {
            display: inline;
            height: 262px;
            width: 262px;
            object-fit: cover;
            margin-bottom: 2px;
            @include sp {
              width: 86px;
              height: 86px;
            };
          }
          &Image:hover{
            opacity: 0.6;
          }
        }  
      }
    }
  }
}