$sp: 559px;
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin indexBoxItem {
  box-sizing: border-box;
  height: 80%;
  width: 100%;
  padding: 20px;
  overflow-x: auto;
  white-space: nowrap;
}

@mixin indexBoxItemImage {
  display: inline;
  height: 100%;
  width: 25%;
  object-fit: cover;
}

@mixin mainContent {
  width: 100%;
  background-color: rgb(236, 236, 236);
  padding-top: 2%;
  padding-bottom: 5%;
}

@mixin centerContent {
  background-color: white;
  width: 75%;
  height: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 5% 0;
}

@mixin title{
  font-size: 25px;
  color: $fontcolor;
  margin: 5% 0;
  @include sp {
    font-size: 18px;      
  };
}

@mixin formField {
  height: 100px;
  width: 70%;
  margin-top: 2%;
  margin: 0 auto;
}

@mixin form {
  margin-top: 18px;
  height: 50px;
  width: 100%;
  padding: 0 16px;
  font-size: 15px;
  @include sp {
    height: 25px;
    font-size: 7px;        
  };
}

